<div class="logo">
  <img src="/images/logo.png" alt="Unico" />
</div>

<div class="filter">
  <% form_tag do %>

  <%#= select_tag "category", options_for_select(@categories, :category.name) %>
  <%= select_tag(:category_id, 
      options_for_select(@categories, params[:category_id].to_i)) %>
   <%= submit_tag 'Filter' %>

<% end %>
    <%#= select @categories %>
</div>

<% for content in @contents %>
  <div class="content">
    <span><%=h content.name_human %></span>
    
    <% unless content.rawhtml.nil? %>
      <span><%= link_to "HTML", "/contents/show/"+content.name+".html" %></span>
    <% end %>

    <% unless content.xml.nil? %>
      <span><%= link_to "XML", "/contents/show/"+content.name+".xml" %></span>
      <span><%= link_to "XHTML", "/contents/show/"+content.name+".xhtml" %></span>
    <% end %>

    <% unless content.plaintext.nil? %>
      <span><%= link_to "TXT", "/contents/show/"+content.name+".txt" %></span>
    <% end %>

    <% unless content.rawhtml.nil? %>
      <%= content.rawhtml %>
    <% else %>
      <%= content.xhtml %>
    <% end %>
 </div>
<% end %>
